/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Helvetica", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  display: flex;
  width: 100%;
}
@media (max-width: 800px) {
  body {
    width: 800px;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  body {
    width: 500px;
    justify-content: center;
  }
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
header .logo-container {
  display: flex;
  margin: 2rem;
}
header .logo-container img {
  margin-right: 2rem;
}
header nav {
  margin: 2rem;
}
nav.left-menu {
  width: 25rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1.5%;
}
nav.left-menu h1 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
nav.left-menu h2 {
  font-weight: bold;
  margin-bottom: 0.75rem;
}
nav.left-menu li {
  margin-bottom: 0.75rem;
  list-style-position: inside;
}
.right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  width: 680px;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  line-height: 1.5;
}
article section .category-overview {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
article section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
article section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
article section h3 {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}
article section li {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
  list-style-position: inside;
}
